@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 10px 10%;
}
.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.0em;
    font-weight: 500;
    padding-left:30px;
}
.navigation a:hover{
    color: #601cfc;
}
section{
    min-height: 100vh;
    padding:100px 10%;
}
.main{
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    background-attachment: fixed;
}
.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-btn{
    text-decoration: none;
    color: #fff;
    background-color: #4e9eff;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: #601cfc;
    transform: scale(1.1);
}
.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}                          
.title{
    display: flex;
    justify-content: center;
    color:#3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 20px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    min-width: 18.25em;
    max-width: 23em;
    overflow-wrap: break-word;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    padding: 25px;
    border-radius: 10px;
    margin: 15px;
    transition: 0.7s ease; 
}
.card:hover{
    transform: scale(1.1); 
     
}
.icon{
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}
.info h3{
    color:#3a6cf4;
    font-size: 1.2em;
    font-weight: 600;
}
.info{
    text-align: left;
}
.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    min-height: 14em;
    width: 18em;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-card:hover {
    transform: scale(1.05);
}
.project-card:hover .project-image{
    opacity: 0.9;
}
.more-details {
    text-decoration: none;
    color: #3a6cf4;
}
.more-details:hover {
    color: #601cfc;
}
.projects{
    background-color: #000016;
}
.projects .content{
    margin-top: 30px;

}
.project-image img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;

}
.project-info {
    padding: 1em;
    font-size: 0.85em;
}
.project-category {
    font-size: 0.8em;
    color: #000;
}
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

